.body{
    height: 800px;
    padding-left: 220px;
    padding-top: 250px;
}

.upgrade-button{
    background-image: url(../assets/upButton.png);
    display: block;
    width: 64px;
    height: 34px;
}


